body, html{
  padding: 0;
  margin: 0;
  overflow-x: hidden;
}
h1{
  text-shadow: 0 0 10px black;
}
#loader {
  position: fixed;
  width: 100%;
  height: 100vh;
  background-image: url("../images/back.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#sending_mail{
  text-shadow: 0 0 10px black;
}
.progress-bar_1 {
  width: 300px;
  height: 10px;
  background: saddlebrown;
  margin-top: 20px;
  overflow: hidden;
  box-shadow: 0 0 10px black;
}

.progress_1 {
  height: 100%;
  width: 0%;
  background: white;
  animation: load 9s linear forwards;
}

@keyframes load {
  to {
    width: 100%;
  }
}








#owlScene{
  display: none;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
  background-image: url("../images/back.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

#owl{
  position: absolute;
  top: 40%;
  left: -200px;
  width: 150px;
  animation: fly 5s linear forwards;
}

@keyframes fly {
  0%   { left: -10%; }
  50%  { left: 50%; }
  100% { left: 110%; }
}










#letter{
  display: none;
}
#Letter_scene{
  display: none;
  width: 25%;
}
#letterButtons{
  display: flex;
  justify-content: space-around;
}
.open_btns{
  height: 30px;
  background: none;

  border:solid 1px;
  border-radius: 10px;

  color: white;
  text-shadow: 0 0 4px black;
}
.open_btns:hover {
  transition: 1s;
  background: white;
  color: black;
  text-shadow: none;
}
#Letter_for_you{
  text-align: center;
  color: white;
  text-shadow: 0 0 7px black;
}











#letter_opening{
  position: fixed;
  width: 100%;
  height: 100vh;
  background: #0b0b1a;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url("../images/back.jpg");
  background-repeat: no-repeat;
  background-size: cover;

}

.progress-bar_2 {
  width: 300px;
  height: 10px;
  background: saddlebrown;
  margin-top: 20px;
  overflow: hidden;
  box-shadow: 0 0 10px black;
}
.progress_2 {
  height: 100%;
  width: 0%;
  background: white;
  animation: load2 2.5s linear forwards;
}

@keyframes load2 {
  to {
    width: 100%;
  }
}














#letterScreen{
  position: relative;
  display: inline-block;
  box-shadow: 0 0 30px black, inset 0 0 20px black;
}
.last_buttons{
  position: absolute;
  border-radius: 10%;
  border: none;
  box-shadow: 0 0 5px black;
}
.last_buttons:hover {
  transition: 1s;
  box-shadow: 0 0 5px black;
  background: none;
}
#back_btn{
  top: 90%;
  left: 10%;
}
#next_btn{
  top: 90%;
  left: 80%;
}
.yes_and_no{
  display: none;
}
#Yes{
  top: 60%;
  left: 35%;
}
#No{
  top: 60%;
  left: 55%;
}

#letter_screen_big{
  display:none;
  height: 100vh;
  align-items: center;
  justify-content: center;
  background-image: url("../images/back.jpg");
  background-repeat: no-repeat;
  background-size: cover;

}
